<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Htlr.org - German Uberhosting</title>
   </head>
  <body>
    <div id="page">
		<table width="75%" columns=2 border=1 cellpadding="10" align=center>
			<tr>
				<td width=50% valign=top>
					<img src="http://htlr.org/data/35202/1169-124c-493d-d7e5.png"><br>
					<blink>I love you. You're my daddy!</blink>
				</td>
				<td width=50% valign=top>
					<h1>File Upload here!!!1</h1>

					<%= form_tag ({:controller => 'upload', :action => "uploadFile"},:multipart => true) %>
					<p><label for="upload_file">Select File</label>
					<%= file_field 'upload', 'datafile' %></p>
					<%= submit_tag "Upload" %>
					</form>
					
					<p>
					<b><blink>Read our draconic terms of service below before you press the upload button!</blink></b>
					</p>

				</td>
			</tr>
			<tr>
				<td width=50% valign=top>
					<h3>htlr.org blogLOL</h3>
					<p>
						<b>16 March 2010 / 12:58</b><br>
						htlr.org geht in den betabetrieb ueber. wir sind 2.0 und werden bald von google gekauft! bis dann.
					</p>

					<p>
						<b>15 March 2010 / 21:40</b><br>
						OMG! Wir sind jetzt auf git zum deployen. DER KRIEG!
					</p>

					<p>
						<b>15 March 2010 / 20:00</b><br>
						Lieber User, wir haben heute etwas an der Datenbank gedreht und dank der unendlichen DRECKSCHEISSHAFTIGKEIT von Opensource haben wir die Datenbank mal eben Geloescht. Mal neu hochladen?
					</p>
				</td>
				<td width=50% valign=top>
					<h3>Our Draconic Terms Of Service</h3>
					<p>
						<b>Don't upload:</b>
						<ul>
							<li>Child Porn</li>
							<li>Nazi Shit</li>
							<li>Anything that's illegal in your fucking country. (We store your IP and will give it to your 3rd world country's corrupt police. So if you're the fucking Dalai Lama don't upload your Tibet shit - we'll give your IP to the great People's Republic Of China. And if you're Chinese FUCK OFF - we don't want your poor fucking baby eating traffic.)
							</ul>
					</p>
					<p>
						<b>OMG I SEE CHILD PORN EVERYWHER!!111 MAEKE IT STOP!</b>
						<p>
						If your penis is like 1.5 inch and thus you're working for the police mail us at <u>abuse@htlr.org</u> to stop the CHILDPORNS, COPYRIGHTS AND/OR NAZIHATECRIMEJEWSTOLEMYGOLD-PROPAGANDA.</p>
						<p>
						All the bad things that make you cry will be removed and you can go back sucking your momma's breast!
						</p>
					</p>
			</tr>
		</table>
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>